/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

 // custom styles

 

 a {
  text-decoration:none;
}
.featured-collection {
  margin:0 auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

    .container {
      width:100%;
      margin: 0 auto;
      @include media-query($medium-up) {
        width: 43%;
       }
    }
      h2 {
    color: $blue;
  	font-family: "Helvetica Neue";
    text-align: center;
    font-weight: bold;
    
    @include media-query($medium-down) {
      font-size: 28px;		
      line-height: 34px;
     }
      
    font-size: 40px;		
    line-height: 49px;
  }

   p {
    font-weight: 300;
    text-align: center;
    color: #9B9B9B;	font-family: "Helvetica Neue";	
    @include media-query($medium-down) {
    font-size: 14px;		line-height: 21px;
    }
   font-size: 18px;		line-height: 26px;	
   }
   @include media-query($medium-up) {
width:1390px;
max-width:100%;

    }
}

span.product-btn {
    display:none;
}
.action_btn {
  transition:.3s;
    height: 55px;	width: 175px;
    background-color: #003366;
    display:block;
    line-height:55px;
    margin:0 auto;
    border:1px solid transparent;
    
   color: #FFFFFF;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: bold;		text-align: center;
&:hover {
  background:#fff;
  color:$blue;
  border-color:$blue;
}

  }
.carousel {
  width:100%;
  position:relative;
  margin:0 auto;
  .flickity-button {
    color:$blue;
    position:absolute;
    top:34%;
    background:transparent;
    outline:transparent;
    width:4%;
    height:auto;
    border:none;
    transition:.4s;
&:active {
  svg {
    fill:$blue;
  }
}
    svg {
      fill:#9C9C9C;
    }

  }
  .next {
    right: -6%;
  }
  .previous {
    left:-6%;
  }
}
.flickity-wrapper {
  width:100%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  position:relative;
  align-content:center;
.carousel {
  @include media-query($medium-up) {
  width:90%;
  }
  margin:0 auto;

    overflow: visible;
}


  
}
.product-wrapper {
  position:relative;
  
  display:flex;
  flex-direction:column;
  margin:0 auto;
  justify-content:space-between;
  align-items:center;
  @include media-query($medium-up) {
 
  width: 25%;
  }
  width:100%;
  padding-left:25px;
  padding-right:25px;	
text-align:left;
a {
  width:100%;
  text-decoration:none;
  text-align:left;
  position:relative;
  img {
    display:block;
    transition:.3s;
    width:100%;
    height:auto;
  }
  [js-ajax-cart="addToCart"] {
    display:none;

  }
}
 a:hover {

  img {
    opacity:.5;
  }
    [js-ajax-cart="addToCart"] {
      display:block;
      height: 47px;	width: 70%;	background-color: #FFFFFF;
      transition:.5s;
      position: absolute;
      
      @include media-query($medium-down) {
       
      top: 72%;
      left: -6%;
      right: 0;
      }
      top:60%;
      left:0;
      right:0;
    
      margin: 0 auto;
      text-align: center;
      color: #003366;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: bold;	line-height: 47px;	text-align: center;
  
      &:hover {
        background:$blue;
        color:#fff;
      }
  
    }
  }


p {
  color: #003366;	font-family: "Helvetica Neue";	font-size: 21px;	font-weight: bold;	line-height: 26px;
  text-align:left;
}

 

.sale {
    position:absolute;
   line-height:27px;
    height: 27px;	width: 56px;	background-color: #003366;
    top: 2%;
    right: 7%;
    height: 26px;	width: 56px;	color: #FFFFFF;	font-family: "Helvetica Neue";	font-size: 14px;	font-weight: bold;	line-height: 26px;	text-align: center;
    @include media-query($medium-down) {
      right: 7%;
     }
    
  
  
}
.price {
   color: #9B9B9B;	font-family: "Helvetica Neue";	font-size: 18px;	font-weight: 300;	line-height: 26px;
}
}

.flickity-enabled:focus {
  outline: none;
}
.flickity-page-dots {
  display: block;
  
    
  margin: 0;
  padding: 0;
    width: 100%;
 
    text-align:center;
    li {
      width: 7px;
    height: 7px;
    color: #fff;
    background: #D1D1D1;
    border-radius: 100%;
    display: inline-block;
    margin-right: 7px;
    margin-left: 3px;


    }
       @include media-query($medium-down) {
        margin: 0;
        padding: 0;
        width: 100%;
       
        

        li {
        
        }
       }
       
   

    
    .is-selected {
      background: #333333;
    }
}
.container p {
  color: #9B9B9B;	font-family: "Helvetica Neue"; font-weight: 300;
  @include media-query($medium-up) {
   font-size: 18px;		line-height: 26px;
  }
 	font-size: 14px;	line-height: 21px;
}
.bottom {
padding-bottom:50px;
  padding-top:50px;
  margin:0 auto;
  @include media-query($medium-down) {

padding-top:25px;
padding-bottom:25px;
  }
}

em {
display:none;
}

[aria-hidden="true"] {
  visibility:hidden;
}

// flickity fade animation



.product-wrapper {

  transition: opacity 0.3s ease-in-out;

}

